**Q1)**	Give 4 examples of **fetching Rows in a Pandas DataFrame**. (Read the given csv file into Python using Pandas)

In [1]:
import pandas as pd

#read the file into python using pandas

In [2]:
df = pd.read_csv("Sleep_Efficiency.csv")

In [3]:
df  # loading the data

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,448,27,Female,2021-11-13 22:00:00,2021-11-13 05:30:00,7.5,0.91,22,57,21,0.0,0.0,0.0,No,5.0
448,449,52,Male,2021-03-31 21:00:00,2021-03-31 03:00:00,6.0,0.74,28,57,15,4.0,25.0,0.0,No,3.0
449,450,40,Female,2021-09-07 23:00:00,2021-09-07 07:30:00,8.5,0.55,20,32,48,1.0,NaN,3.0,Yes,0.0
450,451,45,Male,2021-07-29 21:00:00,2021-07-29 04:00:00,7.0,0.76,18,72,10,3.0,0.0,0.0,No,3.0
451,452,18,Male,2021-03-17 02:30:00,2021-03-17 10:00:00,7.5,0.63,22,23,55,1.0,50.0,0.0,No,1.0

In [4]:
df.iloc[4,:] # selecting the 5th row

ID                                          5
Age                                        57
Gender                                   Male
Bedtime                   2021-03-13 01:00:00
Wakeup time               2021-03-13 09:00:00
Sleep duration                            8.0
Sleep efficiency                         0.76
REM sleep percentage                       27
Deep sleep percentage                      55
Light sleep percentage                     18
Awakenings                                3.0
Caffeine consumption                      0.0
Alcohol consumption                       3.0
Smoking status                             No
Exercise frequency                        3.0
Name: 4, dtype: object

In [5]:
df.iloc[[4],:] # selecting the 5th row using a list to have a proper formart

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

In [6]:
df.iloc[[1,2],:] # selecting the 2nd and 3rd row (multiple rows)

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0

In [7]:
df.iloc[1:5,:]  # selecting the 2nd to 4th row using range
# this gives the rows from 2 to 4, but not including the 5th row.

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

In [10]:
df.loc[1:5,:] # selecting the 2nd to 5th row using loc method and range
# this gives the rows from 1 to 5 inclusive of 5.

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0
5,6,36,Female,2021-07-01 21:00:00,2021-07-01 04:30:00,7.5,0.90,23,60,17,0.0,NaN,0.0,No,1.0

**Q2)**	Give 4 examples of **fetching Columns in a Pandas DataFrame**. (Read the given csv file into Python using Pandas)

In [8]:
# fetching a single coloumn data with respect to position or index
df.iloc[:,5]

0      6.0
1      7.0
2      8.0
3      6.0
4      8.0
      ...
447    7.5
448    6.0
449    8.5
450    7.0
451    7.5
Name: Sleep duration, Length: 452, dtype: float64

In [9]:
# fetching the 5th column (single coloumn as a dataframe) using list
df.iloc[:,[5]]

     Sleep duration
0               6.0
1               7.0
2               8.0
3               6.0
4               8.0
..              ...
447             7.5
448             6.0
449             8.5
450             7.0
451             7.5

[452 rows x 1 columns]

In [10]:
df_1=df.head()

In [11]:
#fetching data from 1st and 5th column(multiple columns at a time)
df_1.iloc[:,[1,5,8]]

   Age  Sleep duration  Deep sleep percentage
0   65             6.0                     70
1   69             7.0                     28
2   40             8.0                     70
3   40             6.0                     25
4   57             8.0                     55

In [12]:
#fetching all rows and columns from 1 to 5 using range
df_1.iloc[:,1:6]

   Age  Gender              Bedtime          Wakeup time  Sleep duration
0   65  Female  2021-03-06 01:00:00  2021-03-06 07:00:00             6.0
1   69    Male  2021-12-05 02:00:00  2021-12-05 09:00:00             7.0
2   40  Female  2021-05-25 21:30:00  2021-05-25 05:30:00             8.0
3   40  Female  2021-11-03 02:30:00  2021-11-03 08:30:00             6.0
4   57    Male  2021-03-13 01:00:00  2021-03-13 09:00:00             8.0

In [14]:
 # fetching multiple columns by name
df_1[['Age','Gender','Bedtime','Wakeup time','Sleep duration']]

   Age  Gender              Bedtime          Wakeup time  Sleep duration
0   65  Female  2021-03-06 01:00:00  2021-03-06 07:00:00             6.0
1   69    Male  2021-12-05 02:00:00  2021-12-05 09:00:00             7.0
2   40  Female  2021-05-25 21:30:00  2021-05-25 05:30:00             8.0
3   40  Female  2021-11-03 02:30:00  2021-11-03 08:30:00             6.0
4   57    Male  2021-03-13 01:00:00  2021-03-13 09:00:00             8.0

**Q3)** Give some examples and Write few points to explain the **difference between loc and .iloc** attributes in a Pandas DataFrame. (Read the given csv file into Python using Pandas)

difference between iloc and loc :
loc:-
1. we can fetch the rows or columns including the end values
2. works with lables.
iloc:-
1. iloc fetches the rows or columns excluding the end value
2. integer based indexing and numerical positions.

eg [0:5] - range of values from 0 to 5
loc fetches all the values from 1 to 5 including 5 , whereas iloc fetches data from 0 till 4 excluding 5th row.

In [ ]:
df_1.iloc[0:4,:] # fetching data from 1st to 4th column using range not including 5th column

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0

In [ ]:
df_1.loc[0:4] # fetching data from 1st to 4th column using loc method and range including 5th column

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

**Q4)** Based on the understanding of first 6 classes in this course, **why should we drop some rows in a DataFrame**?

dropping rows in a dataframe may include the following situations:
1. duplicate values 
2. irrelevant data
3. empty value or no values (missing values)
4. outliers

**Q5)** Using some examples, show **how to drop rows and columns in a Pandas DataFrame**? (Read the given csv file into Python using Pandas)

In [19]:
df_1.drop([0]) # dropping the 1st row

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

In [20]:
df_1.drop([1,2]) # dropping the 2nd and 3rd row

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

In [21]:
df_1.drop(['Age'],axis=1) # dropping the Age column using axis=1

,ID,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

In [26]:
df_1.drop([4],axis = 0) # dropping the 5th row using axis = 0.

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0